#tabela{
    margin-top: 10px;
    margin-bottom: 10px;
}

#box3{
    margin-top: 10px;
    margin-bottom: 10px;
}
#box2 ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
#home{
    height: 50px;
    width: 50px;
}
#boxHome{
    margin-top: 150px
}